.skill {
  background-color: green;
  border-radius: 8px;
  font-size: 14px;
  padding: 0 0.3em;
  min-width: 5em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  font-weight: 400;
}

.skillsContainer {
  max-width: 350px;
}

.skillContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3px;
  backdrop-filter: blur(5px);
  padding: 20px;
}

.language {
  background: #ffd6db;
  color: #a7060e;
}

.library {
  background: #a8e2ff;
  color: #0454cc;
}

.database {
  background: #cbbefa;
  color: #401ddd;
}

.other {
  background: #ccf3c9;
  color: #05741d;
}

.ecommerce-cms {
  background: #fdd1f6;
  color: #b10870;
}
