.projectsContainer {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;

  height: 100%;
}

.pageContainer {
  display: block;
}

@media (max-width: 650px) {
  .projectsContainer {
    gap: 1rem;
  }
}
