.projectsContainer {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;

  height: 100%;
}

.pageContainer {
  backdrop-filter: blur(5px);
  display: block;
}
