@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: auto;
  height: 100%;
  max-width: 100dvw;
  cursor: default;
}

body {
  font: 16px "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 2.2;
  background: var(--background-color);
  color: var(--black);
  position: relative;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  color: var(--bright-main);
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 600;
  transition: 400ms ease-out;
  height: 100%;
  display: inline-block;
}

a:hover {
  color: var(--dark-main);
}

section {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 7em;
  padding-top: 5em;
  margin: 0 auto;
}

h1 {
  color: var(--bright-main);
  letter-spacing: 0.2rem;
  font-weight: 400;
  font-size: 3rem;
  text-transform: lowercase;
}

h2 {
  color: var(--deep-gray);
  text-transform: lowercase;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.7;
}
